* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

header {
    position: relative;
}

header > img {
    object-fit: cover;
    width: 100%;
    /* width: 820px; */
    height: 180px;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 10px grey;
}

header > img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

header > button {
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #A5694B;
    transition-duration: 0.4s;
    margin-right: 0%;
}
header > button:hover {
    background-color: #A5694B; /* Green */
    color: white;
}

header > h2 {
    left: 410px;
    top: 100px;
    position: absolute;
    z-index: 3;
    color: azure;
    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
    
}

header > h5 {
    position: absolute;
    z-index: 3;
    margin-top: 9%;
    margin-left: 30%;
    color: azure;
    font-size: 100%;
    text-shadow: 2px 2px 5px rgb(39, 38, 38);
}

header > h6 {
    position: absolute;
    z-index: 3;
    
    margin-top: 150px;
    margin-left: 97%;
}

@media screen and (max-width: 600px){
    .user_name > h6 {
        display: none;
    }
    .container {
        display: none;
    }
    .calendar {
        display: none;
    }
}

header > h6 >button{
    background: none;
    border: 0px;
    color: #925F4A;
    outline: black;
    position: relative;
}

header > h6 > button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.avatar > img {
    object-fit: cover;
    width: 290px;
    height: 400px;
    box-shadow: 5px 5px 10px grey;
}

.polaroid {
    width: 290px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: left; */
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 100px;
  }

.polaroid > img:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.polaroid > img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}  

.polaroid > div > p > button {
    background: none;
    border: 0px;
    color: #925F4A;
}

.polaroid > div > p{
    margin-bottom: 0%
}

.polaroid > div > p > button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.container {
    padding: 50px;
    color: #615959;
    font-weight: 600;
    padding-top: 1%;
    padding-bottom: 0%
}

.container > h6 {
    font-size: 13px;
}

.container > hr {
    margin: 2%
}

.info {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.8;
}

.title {
    font-size: 10px;
    border: none
}

.readmore{
    color: rgb(160, 25, 25);
    font-size: 12px;
    font-weight: 150;
    border: 0px;
    background: none;
    padding-left: 0%
}

.calendar {
    position: absolute;
    z-index: 3;
    top: 250px;
    right: 0%
}

.calendar > button {
    opacity: 0.5;
}

.calendar >button:hover {
    opacity: 1;
}

.info_page {
    position: absolute;
    z-index: 3;
    top: 300px;
    left: 50%;
}