.chat {
  margin: auto;
  column-count: 2;
  column-gap: 0px;
  display: flex;
  justify-content: space-between;
}

.left > img {
  border-radius: 50%;
  margin-right: 15px;
}

.left > div {
  /* display: flex;
    position: relative; */
  align-items: left;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.left > p {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.chat-time-sm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
