.chatWarp {
  position: absolute;
  bottom: 0%;
  right: 0%;

  .targetForBox {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    .chatbox-row {
      bottom: 0%;
      height: fit-content;
    }
  }
}
.list-group-item {
  padding: 0px;
}
.clickPurpose {
  width: 100%;
  height: 100%;
  position: absolute;
}

.chat {
  color: black;
  margin: auto;
  column-count: 2;
  column-gap: 0px;
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
}

.chat-popup-lst {
  background-color: #fff;

  position: absolute;
  width: 430px;
  right: 5%;
  @include shadow(0.16);
  .header {
    padding: 5px 20px 5px 20px;
    // border: 1px solid rgba(0, 0, 0, 0.125);

    font-size: 80%;
    margin: 0px 0px -1px;

    display: flex;
    width: 100%;
    align-items: center;
    .header-top {
      width: 390px;
      display: flex;
      align-items: center;
      position: relative;
      input {
        outline: none;
        position: relative;
        margin-right: 171px;
        width: 140px;
        padding: 0.3em 0.7em;
      }
      
    }
    .search-result {
      width: 140px;
      position: absolute;
      box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
      border: solid 0.5px #eaeaea;
      background-color: #fbfbfb;
      display: flex;
      top: 40px;
      flex-direction: column;
      z-index: 1;
      .search-item {
        padding: 0.3em 0.7em;
        cursor: pointer;
        &:hover {
          background-color: rgb(236, 236, 236);
        }
      }
    }
  }
  .hidden {
    display: none;
  }

  .list-group {
    .list-group-item {
      cursor: pointer;
      // background-color: aquamarine;
      &:hover {
        background-color: rgb(245, 245, 245);
      }
    }
  }
}

.chatbox-bottomShow {
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  margin: 0px 10px;
  width: 284px;
  .boxHeader {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 8px;
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: sticky;
    justify-content: space-between;
    .box-left {
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 10px;
        width: 28px;
        height: 28px;
      }
      p {
        margin-bottom: 0px;
        font-weight: 600;
      }
    }
    .box-right {
      padding-right: 5px;
    }
  }
  .message-list {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    box-sizing: border-box;

    width: 100%;
    height: 270px;

    .msg-lst {
      height: 284px;
      overflow: scroll;
      box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
      .message {
        padding-left: 4px;
      }
    }

    .form-control {
      align-self: flex-end;
    }
    // background:
  }
}
