@import "assets/styles/scss/mixins.scss";

body {
  background-color: #f0f0f0 !important;
  min-height: 100vh !important;
  #root {
    min-height: 100vh;
  }
}

.oisp-buddy {
  @import "./threads.scss";
  font-family: "LatoWeb";
  color: #373a3c;
  min-height: 100vh;
  .app {
    min-height: 100vh;
  }
  .primary-nav {
    height: 60px;
    z-index: 1070;
    @include shadow(0.36);
  }
  .control {
    &.cancel-edit {
      align-self: center;
      color: #999999;
      cursor: pointer;
      margin-right: 1.25rem;
      font-size: 0.85rem;
      &:hover {
        color: #777777;
      }
    }
  }
  .btn {
    @include shadow(0.16);
    &:active {
      transform: scale(0.95);
    }
    &.btn-primary {
      background-color: #a56a4b;
      &:not(:disabled) {
        &:active {
          background-color: #a56a4b;
          &:focus {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          }
        }
        &:hover {
          background-color: #b97d5c;
        }
      }
    }
    &:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
  }
  input.form-control {
    @include shadow(0.16);
    &:focus {
      color: #777777;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36);
    }
    &::placeholder {
      color: #dddddd;
    }
  }
  .select {
    .select__control {
      @include shadow(0.16);
      .select__value-container {
        padding: 0.375rem 0.75rem;
        .select__placeholder {
          color: #dddddd;
        }
        .select__input {
          color: #aeaeae;
        }
        .select__multi-value {
          background-color: #f1cbb6;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          .select__multi-value__label,
          .select__multi-value__remove {
            color: #a56a4b;
            &:hover {
              background-color: inherit;
              color: #b45139;
            }
          }
        }
      }
      .select__indicators {
        .select__indicator-separator {
          opacity: 0;
        }
        .select__dropdown-indicator,
        .select__clear-indicator {
          color: #dddddd;
        }
      }
      &.select__control--menu-is-open {
        .select__dropdown-indicator,
        .select__clear-indicator {
          color: #999999;
        }
      }
      &:hover {
        .select__dropdown-indicator,
        .select__clear-indicator {
          color: #aeaeae;
        }
      }
    }
    .select__menu {
      @include shadow(0.16);
      .select__option {
        &.select__option--is-focused {
          background-color: #f1cbb6;
        }
      }
    }
  }
  .select-wrapper {
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    color: #aeaeae;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 5px 10px;
    position: relative;
    .select-label {
      margin-right: 10px;
    }
    .select-menu {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
    &:hover {
      color: #999999;
    }
  }
  .popup-content {
    border: unset !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16) !important;
    width: 80px !important;
    text-align: right !important;
    ul {
      list-style: none;
      padding: 2px;
      color: #999999;
      margin-bottom: 0;
      li {
        &.delete:hover {
          color: #b45139;
        }
        &:hover {
          color: #777777;
          cursor: pointer;
        }
      }
      .divider {
        height: 0;
        margin: 0.2rem 0;
        overflow: hidden;
        border-top: 1px solid #e9ecef;
      }
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: #373a3c;
          cursor: pointer;
        }
      }
    }
  }
  .modal-wrapper {
    .popup-content {
      display: flex;
      justify-content: flex-start;
      width: 500px !important;
      padding: 0 !important;
      transition-duration: 0.2s;
      .modal-confirm {
        display: flex;
        flex-direction: column;
        width: 100%;
        .header {
          width: 100%;
          padding: 0.75rem 1rem;
          border-bottom: 1px solid #dddddd;
        }
        .content {
          width: 100%;
          flex-direction: row;
          padding: 1.25rem 1rem 1rem 1rem;
          align-content: center;
          align-items: center;
        }
        .control-group {
          width: 100%;
          height: 100%;
          padding: 0 1.25rem 0.75rem 1rem;
          flex-direction: row;
          justify-content: flex-end;
          .control {
            font-size: 16px;
            color: #dddddd;
            transition-duration: 0.2s;
            &:last-child {
              margin-left: 28px;
            }
            &.red {
              color: #d6a88f;
              &:hover {
                color: #b45139;
                transition-duration: 0.2s;
              }
            }
          }
        }
        i {
          margin-right: 20px;
        }
        text-align: left;
      }
    }
  }
  .quote {
    display: block;
    position: relative;
    .quote-header {
      @include shadow(0.16);
      padding: 0.5rem;
      background: #999999;
      position: sticky;
      width: 100%;
      .author {
        font-weight: bold;
        color: inherit;
      }
      .post-anchor {
        color: inherit;
      }
    }
    .quote-content {
      background: #dddddd;
      padding: 1rem 0.5rem;
    }
  }
}

.mdedit-tooltip {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #777777;
  display: flex;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 0.3rem;
}
