.oisp-buddy {
  font-family: "LatoWeb";
  @import "assets/styles/scss/threads.scss";
  .btn {
    border: none;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &:active {
      transform: scale(0.95);
    }
    &.btn-primary {
      background-color: #a56a4b;
      &:not(:disabled) {
        &:active {
          background-color: #a56a4b;
          &:focus {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          }
        }
        &:hover {
          background-color: #b97d5c;
        }
      }
    }
    &:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
  }
  input.form-control {
    border: unset;
    border-radius: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &:focus {
      color: #777777;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36);
    }
    &::placeholder {
      color: #dddddd;
    }
  }
  .select-wrapper {
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    color: #aeaeae;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 5px 10px;
    position: relative;
    .select-label {
      margin-right: 10px;
    }
    .select-menu {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
    &:hover {
      color: #999999;
    }
  }
}
