:root {
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #f5f5f5;
}

.message {
  margin: 15px;

  /* padding: 10px; */
}

.boxHeader {
  display: flex;
  background-color: #ffffff;
  padding: 8px 8px;
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: sticky;
  align-items: center;
}

.message .message-username {
  font-size: 12px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .box-mess {
  background: #fff6f2;
  width: max-content;
  max-width: 230px;
  padding: 6px 10px;
  border-radius: 8px;
}

.message .message-text {
  background: transparent;
  color: #000000;
  display: inline;

  /* max-width: px; */

  /* padding: 5px 5px 5px 5px; */

  resize: horizontal;

  /* word-wrap: break-word; */
}

.left > img {
  border-radius: 50%;
  margin-right: 15px;
  width: 48px;
  height: 48px;
}

.left > div {
  /* display: flex;
    position: relative; */
  align-items: left;
}

.roomName {
  font-weight: 700;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.left > p {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.chat-time-sm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
